<div class="page-wrapper test">
  <div class="list-wrapper">
    <ul id="message-list">
      <li>Hello user</li>
    </ul>
  </div>
  <div class="input-wrapper">
    <input id="chatbot-message" type="text" name="message"></input>
  </div>
  <div class="submit-wrapper">
    <input id="chatbot-submit" type="submit" value="Submit">
  </div>
</div>
