// Place all the styles related to the emails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.demo {
  padding: 0 !important;
  margin: 0 !important;

  .emails-wrapper {
    padding: 0;
    margin: 0;

    .email-list-wrapper {
      padding: 0;
      margin: 0;
      height: 400px;

      #email-list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        height: auto;
      }
    }
  }

  #chatbot-messages {
    padding: 0;
    margin: 0;
    list-style-type: none;
    height: auto;
  }

  .input-wrapper {
    padding: 0;
    margin: 0;

    #chatbot-message {
      width: 100%;
    }
  }

  .submit-wrapper {
    padding: 0;
    margin: 0;

    #chatbot-submit {
      width: 100%;
    }
  }

}
